{% extends "layout.html" %}
{% block content %}
	<div class='row'>
		{% for house in houses.items %}
		<div class="col-md-6 col-lg-4" style="padding-bottom: 30px">
			<div class="card" style="width: 18rem;">
				<img src="{{ url_for('static', filename='images/' + house.house_image) }}" class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">{{ house.name }}</h5>
					<div style="margin-bottom: 7px, font-size: 14px, color: #333;">Type: <i>{{ house.house_type }}</i></div>
					<div style='margin: 0, padding: 0px;'>
						<p style="float:left;"><strong>Rs. {{ house.price }} Lac.</strong></p>
					</div>
					</br>
					<!-- <p class="card-text">{{ house.description }}</p> -->
					</br>
					<a href="{{ url_for('house', house_id=house.id) }}" class="btn btn-primary">See Details</a>
				</div>
			</div>	
		</div>
		{% endfor %}
	</div>
	{% for page_num in houses.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
		{% if page_num %}
			{% if houses.page == page_num %}
				<a class="btn btn-info mb-4" href="{{ url_for('home', page=page_num) }}">{{ page_num }}</a>
			{% else %}
				<a class="btn btn-outline-info mb-4" href="{{ url_for('home', page=page_num) }}">{{ page_num }}</a>
			{% endif %}
		{% else %}
			...
		{% endif %}
	{% endfor %}
{% endblock content %}
